body {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
#head {
  position: relative;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 25px;
}
#mage {
  text-align: center;
  padding-top: 80px;
}
#body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 70px;
  padding-left: 80px;
  padding-top: 50px;
  text-align: center;
}
.clothes {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 25rem;
}
.discount {
  background-color: rgb(240, 175, 55);
  width: 70px;
  color: orangered;
  margin-left: 10rem;
}
button {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 70px;
  font-size: large;
}
button:hover {
  cursor: pointer;
  background-color: rgb(240, 175, 55);
  border: rgb(240, 175, 55);
}
